<div class="eqLogic eqLogic-widget" style="background-color: #background_color#" data-eqLogic_id="#id#" data-version="mobile">
<center class="widget-name"><strong><a href="#eqLink#" style="font-size : 1.5em;"> #name# </a></strong></center>
    <center>
        <a href="index.php?v=d&p=plan&plan_id=#idPrincipale#&fullscreen=1">
            <span style="font-size: 3.5em;" id="iconCmd#id#">
                <img src="plugins/themes/doc/images/theme_home.png">
            </span>
        </a>
    </center>
</div>
